HumanitarianEventstore/Humanitarian.Publication.Integration.Test/Service References/HumanitarianPublicationServices/HumanitarianPublicationServices4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" />
  <xs:complexType name="GetHumanitarianEventRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetHumanitarianEventRequest" nillable="true" type="tns:GetHumanitarianEventRequest" />
  <xs:complexType name="AddHumanitarianEventRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" minOccurs="0" name="EventToAdd" nillable="true" type="q1:HumanitarianEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddHumanitarianEventRequest" nillable="true" type="tns:AddHumanitarianEventRequest" />
</xs:schema>