HumanitarianEventstore/Humanitarian.Publication.Integration.Test/Service References/HumanitarianPublicationServices/HumanitarianPublicationServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfHumanitarianEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HumanitarianEvent" nillable="true" type="tns:HumanitarianEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHumanitarianEvent" nillable="true" type="tns:ArrayOfHumanitarianEvent" />
  <xs:complexType name="HumanitarianEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventEnvelopeXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventPropertyXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="LastModifiedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModifiedUser" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HumanitarianEvent" nillable="true" type="tns:HumanitarianEvent" />
</xs:schema>