HumanitarianEventstore/Humanitarian.Publication.Integration.Test/Service References/HumanitarianPublicationServices/HumanitarianPublicationServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHumanitarianEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HumanitarianEvent" nillable="true" type="tns:HumanitarianEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHumanitarianEvent" nillable="true" type="tns:ArrayOfHumanitarianEvent" />
  <xs:complexType name="HumanitarianEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventXml" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:any minOccurs="0" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HumanitarianEvent" nillable="true" type="tns:HumanitarianEvent" />
</xs:schema>