HumanitarianEventstore/Humanitarian.Publication.Integration.Test/Service References/HumanitarianPublicationServices/HumanitarianPublicationServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HumanitarianPublicationServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Requests" />
      <xsd:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Responses" />
      <xsd:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHumanitarianPublicationServices_GetHumanitarianEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanitarianEvents" />
  </wsdl:message>
  <wsdl:message name="IHumanitarianPublicationServices_GetHumanitarianEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanitarianEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IHumanitarianPublicationServices_GetHumanitarianEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanitarianEvent" />
  </wsdl:message>
  <wsdl:message name="IHumanitarianPublicationServices_GetHumanitarianEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHumanitarianEventResponse" />
  </wsdl:message>
  <wsdl:message name="IHumanitarianPublicationServices_AddHumanitarianEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHumanitarianEvent" />
  </wsdl:message>
  <wsdl:message name="IHumanitarianPublicationServices_AddHumanitarianEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHumanitarianEventResponse" />
  </wsdl:message>
  <wsdl:portType name="IHumanitarianPublicationServices">
    <wsdl:operation name="GetHumanitarianEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IHumanitarianPublicationServices/GetHumanitarianEvents" message="tns:IHumanitarianPublicationServices_GetHumanitarianEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHumanitarianPublicationServices/GetHumanitarianEventsResponse" message="tns:IHumanitarianPublicationServices_GetHumanitarianEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHumanitarianEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IHumanitarianPublicationServices/GetHumanitarianEvent" message="tns:IHumanitarianPublicationServices_GetHumanitarianEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHumanitarianPublicationServices/GetHumanitarianEventResponse" message="tns:IHumanitarianPublicationServices_GetHumanitarianEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHumanitarianEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IHumanitarianPublicationServices/AddHumanitarianEvent" message="tns:IHumanitarianPublicationServices_AddHumanitarianEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHumanitarianPublicationServices/AddHumanitarianEventResponse" message="tns:IHumanitarianPublicationServices_AddHumanitarianEvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHumanitarianPublicationServices" type="tns:IHumanitarianPublicationServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHumanitarianEvents">
      <soap:operation soapAction="http://tempuri.org/IHumanitarianPublicationServices/GetHumanitarianEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHumanitarianEvent">
      <soap:operation soapAction="http://tempuri.org/IHumanitarianPublicationServices/GetHumanitarianEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHumanitarianEvent">
      <soap:operation soapAction="http://tempuri.org/IHumanitarianPublicationServices/AddHumanitarianEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HumanitarianPublicationServices">
    <wsdl:port name="BasicHttpBinding_IHumanitarianPublicationServices" binding="tns:BasicHttpBinding_IHumanitarianPublicationServices">
      <soap:address location="http://localhost:54914/HumanitarianPublicationServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>