HumanitarianEventstore/Humanitarian.Publication.Integration.Test/Service References/HumanitarianPublicationServices/HumanitarianPublicationServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Requests" />
  <xs:import schemaLocation="http://localhost:54914/HumanitarianPublicationServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Responses" />
  <xs:element name="GetHumanitarianEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Requests" minOccurs="0" name="request" nillable="true" type="q1:GetHumanitarianEventRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHumanitarianEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Responses" minOccurs="0" name="GetHumanitarianEventsResult" nillable="true" type="q2:GetHumanitarianEventResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHumanitarianEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Requests" minOccurs="0" name="request" nillable="true" type="q3:AddHumanitarianEventRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHumanitarianEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Humanitarian.DataContracts.Responses" minOccurs="0" name="AddHumanitarianEventResult" nillable="true" type="q4:AddHumanitarianEventResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>